/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  max-width: 100%;
  border: 1px solid gray;
}
html {
  font-size: 62.5%;
}
h1,
h2,
h4 {
  font-family: 'Montserrat', sans-serif;
}
h3,
body {
  font-family: 'Crimson Pro', serif;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3rem;
}
h3 {
  font-size: 2.5rem;
}
h4 {
  font-size: 2.5rem;
}
body {
  font-size: 1.8rem;
}
html,
body {
  height: 100%;
}
.navTop {
  width: 100%;
}
.navTop nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #7a9fe6;
}
@media (max-width:500px) {
  .navTop nav {
    display: flex;
    flex-direction: column;
  }
}
.navTop nav a {
  font-size: 2rem;
  width: 20%;
  padding: 1.8%;
  text-decoration: none;
  text-align: center;
  color: #f33b47;
}
@media (max-width:500px) {
  .navTop nav a {
    width: 100%;
    border: 1px solid #f33b47;
    color: whitesmoke;
    font-size: 3rem;
  }
}
.navTop nav a:hover {
  color: whitesmoke;
}
@media (max-width:500px) {
  .navTop nav a:hover {
    color: #18275d;
  }
}
.bigBox {
  width: 100%;
  border: 1px solid #f33b47;
}
.bigBox h1 {
  height: 5vh;
  margin: 2%;
  text-align: center;
}
.bigBox .topBox {
  width: 100%;
  background: #556ca6;
  padding: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
@media (max-width:767px) {
  .bigBox .topBox {
    flex-direction: column;
  }
}
.bigBox .topBox .aboutL {
  width: 30%;
  font-size: 2rem;
  line-height: 1.5;
}
@media (max-width:767px) {
  .bigBox .topBox .aboutL {
    width: 100%;
  }
}
.bigBox .topBox .aboutL img {
  width: 100%;
  border-radius: 5%;
  padding: 2%;
  border: 1px solid whitesmoke;
}
.bigBox .topBox .aboutR {
  width: 60%;
  display: flex;
  flex-direction: column;
}
@media (max-width:767px) {
  .bigBox .topBox .aboutR {
    width: 100%;
  }
}
.bigBox .topBox .aboutR .inside {
  width: 100%;
  line-height: 1.5;
}
.bigBox .topBox .aboutR .inside h4 {
  font-size: 2.3rem;
  font-weight: bold;
}
.bigBox .topBox .aboutR .inside p {
  color: white;
  font-size: 2.2rem;
}
.bigBox .topBox .aboutR .inside .skills {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #7a9fe6;
  margin: 1%;
}
@media (max-width:767px) {
  .bigBox .topBox .aboutR .inside .skills {
    align-items: center;
  }
}
.bigBox .topBox .aboutR .inside .skills h2 {
  color: whitesmoke;
  padding: 2%;
}
.bigBox .topBox .aboutR .inside .skills .skillItems {
  width: 100%;
  padding: 2%;
  color: black;
}
@media (max-width:767px) {
  .bigBox .topBox .aboutR .inside .skills .skillItems {
    text-align: center;
  }
}
footer {
  width: 100%;
  margin-bottom: 1%;
}
footer #contact {
  width: 100%;
  margin: 1%;
  border: 1px solid #18275d;
}
footer #contact .links {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #9f9fa1;
}
@media (max-width: 768px) {
  footer #contact .links {
    flex-direction: column;
  }
}
@media (max-width: 500px) {
  footer #contact .links {
    flex-direction: column;
  }
}
footer #contact .links h3 {
  padding: 2%;
}
footer #contact .links a {
  font-size: 2rem;
  width: 20%;
  padding: 2%;
  text-decoration: none;
  text-align: center;
  color: whitesmoke;
}
@media (max-width: 768px) {
  footer #contact .links a {
    width: 100%;
    text-align: center;
    border: 1px solid #18275d;
    color: whitesmoke;
  }
}
@media (max-width: 500px) {
  footer #contact .links a {
    width: 100%;
    text-align: center;
    border: 1px solid #18275d;
    color: whitesmoke;
  }
}
.home {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 3%;
}
.home .education {
  display: flex;
  margin: 1.5% 0;
}
.home .education .school {
  flex-direction: column;
  display: flex;
  justify-content: space-evenly;
}
.home .education .school .study {
  line-height: 1.5;
}
.home .education .school .study p {
  padding-left: 2%;
}
.home .education .school .study li {
  padding-left: 2%;
}
.home .work {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.home .work .workItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home .work .workItem .job p {
  margin-left: 2% ;
}
.home .professional {
  line-height: 1.5;
  margin: 3% 0;
}
.home .professional h5 {
  font-weight: bold;
  font-size: 2.2rem;
}
.home .professional h6 {
  font-size: 1.8rem;
}
.home .professional p {
  margin-left: 2%;
}
.home .college li {
  margin-left: 2%;
}
.home .hobbies {
  background: black;
  color: white;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.home .hobbies .fun {
  margin: 1%;
}
