.home {
    width:100%;
    display: flex;
    flex-direction: column;
    padding: 3%;
    

    .education {
        display:flex;
        
        .school {
            .column();
            .spacing(space-evenly);
            

            .study {
                line-height: 1.5;
            }//closes the study

        }//closes the school class

    }//closes education

    .work {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        margin: 2% 0;

        .workItem {
            display: flex;
            // justify-content: space-around;
            // margin: 0 10%;

            .job {
                margin-right: 25%;
            }//closes job
        }//closes work

    }
    .professional {
        line-height: 1.5;
        margin: 3% 0;
    }//closes professional
    
    .hobbies {
        background: black;
        color: white;
        align-items: center;
        display: flex;
        flex-direction: column;
        
        .fun {
            margin: 1%;
        }//closes fun
    }//closes hobbies
    
}//closes the container